#maskmiddle {
	background: url("https://cdn.discordapp.com/attachments/845516381382115348/845534366314528768/green_scope.png") center center no-repeat;
	background-size: contain;
	width: 100vh;
	height: 100vh;
}