/* ----------------------------------------------------------------- Global -- */

* {
	box-sizing: border-box;			/* For Your Health */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	
	--ss-header-height: 10em;
	--ss-footer-height: 4em;
	--ss-main-width: 90em;
	--ss-min-width: 68em;
	
	--ss-space-xxl: 2.3em;
	--ss-space-xl: 1.5em;
	--ss-space-lg: 1em;
	--ss-space-md: calc(var(--ss-space-lg)/2);
	--ss-space-sm: calc(var(--ss-space-md)/1.5);
	--ss-space-xs: calc(var(--ss-space-sm)/2);
	--ss-space-micro: calc(var(--ss-space-xs)/2);
	
	--ss-transparent: #00000000;
	--ss-black: #000;
	--ss-white: #FFFFFF;
	--ss-offwhite: #FFF3E4;
	--ss-yellow0:#F7FFC1;
	--ss-yellow: #FAF179;
	--ss-yolk0: #f1c59a;
	--ss-yolk: #826849;
	--ss-yolk2: #674c30;
	--ss-red0: #7d4445;
	--ss-red: #882d2e;
	--ss-red2: #4e1a1a;
	--ss-red-bright: #EF3C39;
	--ss-pink: #da8402;
	--ss-pink1: #633e00;
	--ss-pink-light: #f59900;
	--ss-brown: #826c56;
	--ss-blue00: #f6e0ab;
	--ss-blue0: #b9a57b;
	--ss-blue1: #ad8c54;
	--ss-blue2: #6d5028;
	--ss-blue3: #54411a;
	--ss-blue4: #4a3813;
	--ss-blue5: #3a290e;
	--ss-green0: #62a088;
	--ss-green1: #3e733b;
	--ss-green2: #285228;
	--ss-orange1: #F79520;
	--ss-vip-gold: linear-gradient(to right, #D1A943, #CFCDAF, #CC8630, #D1AA44, #CC8630);
	--ss-clear: rgba(255, 255, 255, 0);
	--ss-blue2clear: rgba(94, 186, 217, 0);
	--ss-shadow: rgba(0,0,0,0.4);
	--ss-blueshadow: #38260e87;
	--ss-darkoverlay: rgba(0, 0, 0, 0.8);
	--ss-darkoverlay2: rgba(0, 0, 0, 0.2);
	--ss-lightbackground: linear-gradient(var(--ss-blue1), var(--ss-blue2) );
	--ss-scrollmask1: linear-gradient(var(--ss-blue2clear), var(--ss-blue2));
	--ss-scrollmask2: linear-gradient(rgba(56, 158, 192, 0), #422807);
	--ss-fieldbg: linear-gradient(#5d3c0b, #ffffff, #ffffff, #ffffff, #ffffff);
	--ss-nugSecs: 3600s;
	--ss-white-60: rgba(255,255,255,.6);
	--ss-white-90: rgba(255,255,255,.9);

	--ss-me-player-bg: rgba(247,149,32,.8);

	--ss-them-blue-bg: rgb(87 51 0 / 80%);
	--ss-them-blue-color: #d9a55e;
	--ss-them-red-bg:  rgb(133,0,0,.8);
	--ss-them-red-color: #ff4145;

	--ss-me-red-bg: rgba(255,65,69,.8);
	--ss-me-blue-bg: rgb(217 160 94 / 80%);

	font-size: 1.95vh;

	scrollbar-width: thin;
    scrollbar-color: var(--ss-yolk) var(--ss-white);
}

*::-moz-selection { background: var(--ss-blue5); color: var(--ss-white); }
*::-webkit-selection { background: var(--ss-blue5); color: var(--ss-white); }
*::selection { background: var(--ss-blue5); color: var(--ss-white); }

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background: url(https://miro.medium.com/max/10912/1*4Ep0EOqC2F_0XmQifM6NwA.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Nunito', sans-serif;
	height: 100%;
	padding: 0; margin: 0;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

a { color: var(--ss-white); }
a:hover {color: var(--ss-yolk0); }

p {	font-weight: 600; }

hr {
	width: 100%;
	border: none;
	border-top: var(--ss-space-sm) solid var(--ss-white);
	height: var(--ss-space-md);
}

hr.blue {
	border-top: 1px solid var(--ss-blue4);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Sigmar One', Sans-Serif;
	font-weight: 100;
	letter-spacing: 0;
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--ss-blue4);
}

h1, .h1 { font-size: 1.6em; }
h2, .h2 { font-size: 1.4em; }
h3, .h3 { font-size: 1.2em; }
h4, .h4 { font-size: 1em; }
h5, .h5 { font-size: 1.5em; line-height: 1.2em; text-transform: capitalize; color: var(--ss-yolk);}
h6, .h6 { text-transform: capitalize; font-size: 1.2em; line-height: 1em; color: var(--ss-white); }

h4.shaded {
	background: var(--ss-blue5);
	color: var(--ss-blue2);
	width: 90%;
	text-align: center;
	margin: var(--ss-space-md) 0;
}

hr {
	height: 1px;
	border: none;
	border-top: 1px solid var(--ss-white);
}

.nowrap { white-space: nowrap; }

.center_h { margin: 0 auto; }
.centered {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center { text-align: center; }
.fullwidth { width: 100% !important; min-width: 100% !important; }

.roundme_sm { border-radius: var(--ss-space-sm); }
.roundme_md { border-radius: var(--ss-space-md); }
.roundme_lg { border-radius: var(--ss-space-lg); }

.width_xs { min-width: 8em; }
.width_sm { min-width: 10em; }
.width_md { min-width: 15em; }
.width_lg { min-width: 20em; }
.width_xl { min-width: 40em; }
.width_xxl { min-width: 60em; }

.nospace { margin: 0 !important; padding: 0 !important; }
.margins_sm { margin: var(--ss-space-sm); }
.margins_md { margin: var(--ss-space-md); }
.margins_lg { margin: var(--ss-space-lg); }

.ss_marginright { margin-right: var(--ss-space-md) !important; }
.ss_marginleft { margin-left: var(--ss-space-md) !important; }
.ss_margintop { margin-top: var(--ss-space-md) !important; }
.ss_marginbottom { margin-bottom: var(--ss-space-md) !important; }

.ss_marginright_lg { margin-right: var(--ss-space-lg) !important; }
.ss_marginleft_lg { margin-left: var(--ss-space-lg) !important; }
.ss_margintop_lg { margin-top: var(--ss-space-lg) !important; }
.ss_marginbottom_lg { margin-bottom: var(--ss-space-lg) !important; }

.ss_marginright_xl { margin-right: var(--ss-space-xl) !important; }
.ss_marginleft_xl { margin-left: var(--ss-space-xl) !important; }
.ss_margintop_xl { margin-top: var(--ss-space-xl) !important; }
.ss_marginbottom_xl { margin-bottom: var(--ss-space-xl) !important; }

.ss_marginright_sm { margin-right: var(--ss-space-sm) !important; }
.ss_marginleft_sm { margin-left: var(--ss-space-sm) !important; }
.ss_margintop_sm { margin-top: var(--ss-space-sm) !important; }
.ss_marginbottom_sm { margin-bottom: var(--ss-space-sm) !important; }

.ss_marginright_xs { margin-right: var(--ss-space-xs) !important; }
.ss_marginleft_xs { margin-left: var(--ss-space-xs) !important; }
.ss_margintop_xs { margin-top: var(--ss-space-xs) !important; }
.ss_marginbottom_xs { margin-bottom: var(--ss-space-xs) !important; }

.hideme { display: none !important; }
.clickme { cursor: pointer; }

button:focus { outline: none; }
.clickme:focus { outline: none; }

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 100%;
	top: 0; left: 0;
	z-index: 3;
}

.overlay_light {
	background-image: var(--ss-lightoverlay);
	z-index: 6;
}

.overlay_dark {
	z-index: 6;
	background-image: none;
	background-color: var(--ss-darkoverlay);
}

.overlay_game {
	z-index: 6;
	background-image: none;
	background-color: var(--ss-darkoverlay2);
}

.text_white { color: var(--ss-white); }
.text_blue1 { color: var(--ss-blue1); }
.text_red { color: #e33; }
.text_orange { color: #e73; }
.text_yellow { color: #ca4; }
.text_yolk { color: #f7941d; }
.text_green { color: #3b8; }
.text_blue { color: #ffd486; }
.text_darkblue { color: #835100; }
.text_darkgreen { color: #066509; }
.text_purple { color: #c39; }
.text_grey { color: #ccc; }

.bg-darkgreen {
	background-color: var(--ss-green2)
}

.shadow_blue2 { text-shadow: var(--ss-space-xs) var(--ss-space-xs) var(--ss-blue2); }
.shadow_blue2_micro { text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-blue2); }
.shadow_blue4 {	text-shadow: var(--ss-space-xs) var(--ss-space-xs) var(--ss-blue4); }
.shadow_grey { text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-shadow); }
.shadow_bluebig4 {	text-shadow: var(--ss-space-xs) var(--ss-space-xs) var(--ss-blue3); }
.shadow_bluebig5 {	text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-blue4); }
.shadow_red {	text-shadow: var(--ss-space-micro) var(--ss-space-micro) var(--ss-red2); }

.error_text {
	color: var(--ss-white);
	border-radius: var(--ss-space-sm);
	padding: var(--space-md);
	background: var(--ss-red);
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#videoAdContainer {
	z-index: 100;
}